.typ {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 50vh;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: #fff;
    font-family: "Lexend Deca Light";
}
html, body {
    position: relative;
    overflow-x: hidden;
}
